.flex-container {
  background-image: url('../img/op-wallpaper2.jpeg');
  background-size: cover;
  width: 100%;
  height: 93.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  border: 2px solid black;
  background-color: rgb(32, 51, 68);
  opacity: 0.999;
  color: black;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}

.input {
  height: 25px;
  width: 220px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.Large {
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
}

.submit {
  font-family: 'arial black';
  color: #ededed !important;
  font-size: 14px;
  width: 180px;
  height: auto;
  text-shadow: 0px 0px 0px #7cacde;
  box-shadow: 1px 1px 1px #181884;
  padding: 10px 25px;
  border-radius: 10px;
  background: #468ccf;
  border: 2px solid #3866a3;
  background: linear-gradient(to top, #181269, #468ccf);
  margin-top: 20px;
}

.submit:hover {
  color: white !important;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #181269);
}

.Header {
  background-color: #140327;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.espacio {
  margin-bottom: 80px;
}

.imagen {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-bottom: -5px;
}

.bordes {
  border-left: solid #27084b 2px;
  border-right: solid #27084b 2px;
}

.checkboxPassword {
  display: flex;
  flex-direction: row;
  color: white;
}

.checkboxPassword > input {
  margin-right: 10px;
}

.testito {
  background-color: #101010;
  border-radius: 5%;
  box-shadow: 16px 14px 20px #0000008c;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testito::before {
  content: '';
  position: absolute;
  height: 650px;
  width: 550px;
  background-image: conic-gradient(rgb(60, 0, 255) 20deg, transparent 120deg);
  animation: rotacion 2s linear infinite;
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.ListNav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.colBor {
  text-decoration: none;
  display: block;
  position: relative;
}

.colBor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgb(73, 73, 242), 0 0 40px rgb(73, 73, 242),
    0 0 80px rgb(73, 73, 242);
}

.colBor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgb(73, 73, 242), 0 0 40px rgb(73, 73, 242),
    0 0 80px rgb(73, 73, 242);
}

.colBor:hover::before,
.colBor:hover::after {
  transform: scaleX(1);
}

.prueba:hover {
  box-shadow: 0 0 10px rgb(17, 17, 90), 0 0 40px rgb(17, 17, 90),
    0 0 80px rgb(17, 17, 90);
}

.slider {
  background-size: cover;
  width: 100%;
  height: 93.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 20s infinite;
}

@keyframes slide {
  0% {
    background-image: linear-gradient(to bottom, #33ccff00 25%, #140327 100%),
      url(../img/pokemon_wallpaper.png);
  }
  33% {
    background-image: linear-gradient(to bottom, #33ccff00 25%, #140327 100%),
      url(../img/op-wallpaper2.jpeg);
  }
  66% {
    background-image: linear-gradient(to bottom, #33ccff00 25%, #140327 100%),
      url(../img/jjk_wallpaper.jpg);
  }
  100% {
    background-image: linear-gradient(to bottom, #33ccff00 25%, #140327 100%),
      url(../img/mob100_wallpaper.jpeg);
  }
}

.fade {
  margin-top: 75%;
  background: linear-gradient(0deg, #140327 64%, rgba(0, 0, 255, 0) 90%);
  width: 100%;
  height: 200vh;
  position: absolute;
}

.alerta {
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.Alertas {
  display: flex;
  flex-direction: column;
}
/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .eye {
  animation: keyframes-fill 0.5s;
  margin-right: -50px;
  margin-left: 10px;
}

.container .eye-slash {
  animation: keyframes-fill 0.5s;
  margin-right: -50px;
  margin-left: 10px;
  display: none;
}

/* ------ On check event ------ */
.container input:checked ~ .eye {
  display: none;
}

.container input:checked ~ .eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}

.Flex-X {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* TRY */

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

button::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(32, 51, 68);
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: '';
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(32, 51, 68);
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

.bg-img {
  background-image: url('../img/op-wallpaper2.jpeg');
  width: 100%;
  height: 93.3vh;
}

.grid-home {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.img-home {
  width: 200px;
  height: 200px;
}

.img-home:hover {
  background-color: #140327;
}

.test2 {
  position: relative;
}

.abs {
  position: absolute;
  background-color: #140327ed;
  color: white;
  display: none;
}

.test2:hover .abs {
  display: block;
  width: 100%;
  height: 100%;
}

.name-anime {
  color: white;
}
