:root {
  --background-color: #202020;
  --background-color-light: rgb(248, 248, 248);
  --color-font: rgb(255, 255, 255);
  --color-font-light: #000;
  --color-font-secondary: #333333;
  --color-purple: #a99dbd;
  --color-resaltado: #d1c2e6;
  --color-hover: #a99dbd;
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  background: var(--background-color);
  color: var(--color-font);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-font-secondary);
  padding: 10px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
  text-decoration: none;
}
nav > ul > li {
  padding: 10px;
}

.simpleButton {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
